#navbar-top {
    background-color: #333;
    color: white;
}

.landing-header {
    background-size: cover;
    min-height: 700px;
}

    .landing-header .motto {
        color: white;
        margin-left: 20px;
        padding-top: 8%;
        text-align: right;
        z-index: 3;
    }


    #app-navbar {
        margin-bottom: 0px;
    }
