@{
    ViewData["Title"] = "About";
}


<nav class="navbar navbar-default" role="navigation-demo" id="app-navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="www.creative-tim.com">Movie Marathon <i class="fa fa-film"></i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-vk"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
</nav>


@*<div class="alert alert-danger landing-alert">
        <div class="container text-center">
            <h5>Get a 10% discount on selected products until the 5th of November!</h5>
        </div>
    </div>*@

<div class="wrapper">
    <div class="landing-header" style="background-image: url('/images/movie.jpg');">
        <div class="container">
            <div class="motto">
                <h1 class="title-uppercase">Enjoy Movies</h1>
                <h4>Always watch movies in an awesome place.</h4>
                <br />
            </div>
        </div>
    </div>
    <div class="main">
        <div id="about-section" class="section text-center landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>What is a movie marathon?</h2>
                        <span>
                            <i class="fa fa-play left-icon"></i>
                            <i class="fa fa-film right-icon"></i>
                        </span>
                        <h5>This event last a whole night. It starts from late evening and ends early morning. Often it includes three or even four movies. Movies are picked by a well chosen topic. We have a warm atmopshre, very comfortable chairs and coockies with tea.</h5>
                        <br />
                        <a href="#" class="btn btn-danger btn-fill">I want it!</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="schedule-section" class="section section-light-brown landing-section">
            <div class="container">
                <div class="row">
                    <h2>Our chedule for tonight:</h2>
                    <br />
                    <div class="col-md-6 column col-md-offset-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Movie Name</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>The Mask</td>
                                    <td>20:00</td>
                                    <td>21:45</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Titanic</td>
                                    <td>22:00</td>
                                    <td>23:50</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Monkey Planet</td>
                                    <td>12:30</td>
                                    <td>01:50</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>God Father</td>
                                    <td>02:30</td>
                                    <td>04:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div id="last-event-section" class="section section-dark text-center landing-section">
            <div class="row">
                <h2>Last time was fun! Check it out!</h2>
                <div class="col-md-12">
                    <div id="carousel">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel slide" data-ride="carousel">

                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="http://lorempixel.com/600/600/" alt="Awesome Image">
                                    </div>
                                    <div class="item">
                                        <img src="http://lorempixel.com/600/600/" alt="Awesome Image">
                                    </div>
                                    <div class="item active">
                                        <img src="http://lorempixel.com/600/600/" alt="Awesome Image">
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="fa fa-angle-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div> <!-- end carousel -->

                    </div>
                    @*<img src="http://lorempixel.com/600/600/" alt="Thumbnail Image" class="img-thumbnail img-responsive">
                    <img src="http://lorempixel.com/400/300/" alt="Thumbnail Image" class="img-thumbnail img-responsive">
                    <img src="http://lorempixel.com/400/300/" alt="Thumbnail Image" class="img-thumbnail img-responsive">*@
                </div>
            </div>
        </div>

        <div id="contact-section" class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center">Get your ticket online!</h2>
                        <h5 class="text-center">You will have your ticket sent to email you mentioned in form below.</h5>
                        <br/>
                        <form class="contact-form">
                            <div id="form-fields" class="row">
                                <div class="col-md-6">
                                    <label>Fullname</label>
                                    <input class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <input class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <button class="btn btn-danger btn-block btn-lg btn-fill">Get a ticket</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-demo section-dark">
    <div class="container">
        <div class="copyright">
            2017 &copy;  made to <i class="fa fa-play"></i> movies.
        </div>
    </div>
</footer>